/* --------------------------------------------------Mobile-------------------------------------------------- */

@media only screen and (max-width: 25.938em) {
	/* ----------Iphone 11 Pro Max---------- */						
    /* ---Menu--- */								
    label.hamburger {
		top: 10px;
		right: 10px;
		width: 70px;
		height: 70px;
		;
	}
	label.hamburger text close, label.hamburger text open {
		margin-top: 0;
		;
	}
	.drawer-list {
		right: 40px;
		height: 40vh;
		top: 100px;
		width: 80vw !important;
		border-radius: 40px;
		;
	}
	.drawer-list li a {
		font-size: calc(40px - .5vw);
		;
	}
	.drawer-list ul {
		width: 100%;
		margin-top: -45px;
		text-align: center;
		margin-left: 11%;
		;
	}
	input.hamburger:checked ~ label > i:before, input.hamburger:checked ~ label > i:after {
		margin-top: 2px;
		;
	}
	input.hamburger:checked ~ .drawer-list li a {
		padding-right: 75px;
		;
	}
	/* ---Banner--- */								
    #banner {
		background-size: 600px 600px;
		margin-top: -370px;
		;
	}
	.banner-falling {
		display: none;
		;
	}
	.barnner-effect1 {
		width: 60px;
		height: 60px;
		margin-left: 80px;
		margin-top: 700px;
		animation: phone-effect1 6s ease-in-out infinite;
		;
	}

@keyframes phone-effect1 {
	0% {
		opacity: 0;
		;
	}
	70% {
		opacity: 0;
		;
	}
	100% {
		margin-left: 80px;
		margin-top: 700px;
		opacity: 1;
		;
	}
}

.barnner-effect2 {
	width: 190px;
	height: 220px;
	margin-left: -55px;
	margin-top: 530px;
	animation: phone-effect2 6s ease-in-out infinite;
	;
}

@keyframes phone-effect2 {
	0% {
		opacity: 0;
		;
	}
	10% {
		opacity: 0;
		;
	}
	20% {
		opacity: 0;
		;
	}
	30% {
		opacity: 0;
		;
	}
	40% {
		opacity: 0;
		;
	}
	50% {
		opacity: 0;
		;
	}
	60% {
		opacity: 0;
		;
	}
	80% {
		margin-left: -55px;
		margin-top: 530px;
		opacity: 1;
		;
	}
	100% {
		margin-left: -55px;
		margin-top: 530px;
		opacity: 1;
		;
	}
}

#banner-introduce {
	margin-top: 160px;
	;
}

#banner-introduce h1 {
	font-size: 20px;
	margin-left: 40px;
	;
}

#banner-introduce p {
	font-size: 12px;
	margin-left: 12px;
	margin-top: 20px;
	;
}

#banner-introduce h5 {
	margin-left: 210px;
	margin-top: 0;
	font-size: 15px;
	;
}

.banner-media_icon ul {
	top: 10%;
	left: 50%;
	;
}

/* ---Product--- */

				
	#product {
	height: 110vh !important;
	;
}

.product-wrapper {
	display: flex;
	padding: 50px 0;
	flex-direction: row;
	;
}

.product-card {
	width: 140px;
	height: 180px;
	;
}

.product-card .product-info h1 {
	font-size: 11px;
	;
}

.product-card .product-info p {
	letter-spacing: 0;
	font-size: 7px;
	;
}

.product-card .product-info button {
	padding: 4px;
	;
}

.product-introduce_button {
	padding: 10px 15px;
	font-size: 20px;
	;
}

/* ---Subscribe--- */

				
	#subscribe {
	height: 80vh !important;
	margin-top: 200px;
	width: 98%;
	;
}

.subscribe-img {
	margin-left: 45px;
	;
}

#subscribe > .row {
	margin-top: 175px;
	;
}

.c-subscribe-box {
	width: 360px !important;
	;
}

.c-subscribe-box__wrapper {
	padding: 15px;
	;
}

.c-subscribe-box__title {
	font-size: 35px;
	margin-top: 10px;
	;
}

.c-subscribe-box__desc {
	font-size: 13px;
	margin: 0 auto;
	;
}

.c-subscribe-box__form {
	margin-top: 25px;
	;
}

input.u-align-center {
	font-size: 170%;
	;
}

.c-form--accent [type=submit] {
	margin-top: 20px;
	width: 150px;
	height: 50px;
	;
}

/* ---CopyRight--- */

						
	.copyright-logo {
	display: none
	;
}

#copyright p {
	font-size: 15px;
	margin-top: -50px;
	font-weight: 600;
	;
}
.LogoContact{
	width: 100%;
	background-size: cover;
}
	

}

/* --------------------------------------------------Tablet-------------------------------------------------- */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
	/* Width 740px -> 1023px */		
    /* Menu */				
    .drawer-list {
		right: -127px;
		height: 50vh;
		width: 70vw !important;
		;
	}
	/* Banner */						
    #banner {
		background-size: 900px 900px;
		;
	}
	.banner-media_icon ul {
		top: 8%;
		left: 50%;
		;
	}
	.barnner-effect1 {
		margin-left: 130px;
		margin-top: 510px;
		animation: ipad-effect1 6s ease-in-out infinite;
		;
	}

@keyframes ipad-effect1 {
	0% {
		opacity: 0;
		;
	}
	70% {
		opacity: 0;
		;
	}
	100% {
		margin-left: 130px;
		margin-top: 510px;
		opacity: 1;
		;
	}
}

.barnner-effect2 {
	margin-left: -85px;
	margin-top: 260px;
	animation: ipad-effect2 6s ease-in-out infinite;
	;
}

@keyframes ipad-effect2 {
	0% {
		opacity: 0;
		;
	}
	10% {
		opacity: 0;
		;
	}
	20% {
		opacity: 0;
		;
	}
	30% {
		opacity: 0;
		;
	}
	40% {
		opacity: 0;
		;
	}
	50% {
		opacity: 0;
		;
	}
	60% {
		opacity: 0;
		;
	}
	80% {
		margin-left: -85px;
		margin-top: 260px;
		opacity: 1;
		;
	}
	100% {
		margin-left: -85px;
		margin-top: 260px;
		opacity: 1;
		;
	}
}

#banner-introduce {
	margin-top: 190px;
	;
}

#banner-introduce h1 {
	font-size: 30px;
	margin-left: 65px;
	;
}

#banner-introduce p {
	font-size: 21px;
	margin-top: 25px;
	;
}

#banner-introduce h5 {
	margin-left: 485px;
	margin-top: 0;
	font-size: 25px;
	;
}

/* Product */

	#product {
	height: 110vh;
	;
}

.product-card {
	width: 150px;
	height: 230px;
	;
}

.product-wrapper {
	padding: 50px 20px;
	;
}

.product-card .product-info h1 {
	font-size: 25px;
	;
}

.product-card .product-info p {
	font-size: 10px;
	;
}

/* Subscribe */

	#subscribe {
	height: 70vh !important;
	;
}

.copyright-logo {
	margin-top: -190px;
	;
}

#copyright p {
	margin-top: -70px;
	;
}
}

/* --------------------------------------------------PC Low resolution-------------------------------------------------- */

@media only screen and (min-width: 63.938em) and (max-width: 64.063em) {
	/* Width = 1024px */				
    /* Menu */				
    .drawer-list {
		right: -160px;
		height: 40vh;
		width: 60vw !important;
		;
	}
	/* Banner */				
    .banner-media_icon ul {
		left: 15%;
		top: 5%;
		;
	}
	/* Product */				
    #product {
		height: 85vh;
		;
	}
	.product-wrapper {
		padding: 50px 15px;
		;
	}
	/* Subscribe */				
    #subscribe {
		height: 55vh !important;
		;
	}
}

@media only screen and (min-width: 84.938em) and (max-width: 85.438em) {
	/* Width 1360 -> 1366 */				
    /* Menu */				
    .drawer-list {
		height: 55vh;
		width: 55vw !important;
		;
	}
	/* Product */				
    #product {
		height: 115vh;
		;
	}
	.product-wrapper {
		padding: 50px 190px;
		;
	}
}

/* --------------------------------------------------PC Hight resolution-------------------------------------------------- */

@media only screen and (min-width: 120.063em) {
	/* Width 1920 -> ... */				
    /* Menu */				
    .drawer-list {
		height: 50vh;
		width: 35vw !important;
		;
	}
	/* Product */				
    #product {
		height: 120vh;
		;
	}
	.product-wrapper {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		padding: 50px 670px;
		;
	}
	/* Subscribe */				
    #subscribe {
		height: 90vh;
		;
	}
	#subscribe > .row {
		margin-top: 0;
		;
	}
	.copyright-logo {
		margin-top: -300px;
		;
	}
}